<!DOCTYPE html>
<html>
  <head>
    <title>CRUD com Node.js e Postgres - Usuários</title>
    <style>
      
      table {
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #ccc;
        font-weight: bold;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      a {
        color: blue;
        text-decoration: none;
        margin-left: 8px;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
    <script>
      
    </script>
  </head>
  <body>
    <% const msg = '';%>
    <h1>Usuários</h1>
    <a href="/add/usuario">Adicionar Usuário</a>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>CPF</th>
          <th>Senha</th>
          <th>E-mail</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item) => { %>
        <tr>
          <td><%= item.cod_usuario %></td>
          <td><%= item.nome %></td>
          <td><%= item.telefone %></td>
          <td><%= item.cpf %></td>
          <td><%= item.senha %></td>
          <td><%= item.email %></td>
          <td>
            <a href="/edit/usuario/<%= item.cod_usuario %>">Editar</a>
            <a href="/delete/usuario/<%= item.cod_usuario %>">Deletar</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
