<!DOCTYPE html>
<html>
<head>
  <title>Editar Usuario</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    /* Additional custom styles */
    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Editar usuario <%= data.nome %></h1>
    <form action="/edit/usuario/<%= data.cod_usuario %>" method="post">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="<%= data.nome %>" required class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= data.email %>" required class="form-control">
      </div>
      <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone" value="<%= data.telefone %>" class="form-control">
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="tel" id="cpf" name="cpf" value="<%= data.cpf %>" class="form-control">
      </div>
      <div class="form-group">
        <label for="endereco">Senha:</label>
        <input type="tel" id="senha" name="senha" value="<%= data.senha %>" class="form-control">
      </div>
      <input type="submit" value="Atualizar" class="btn btn-primary">
      <a href="/index/usuario" class="btn btn-secondary">Cancelar</a>
    </form>
    
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
